*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', Arial, sans-serif;
	min-width: 320px;
	overflow-x: hidden;
	font-size: 16px;
}

.container {
	max-width: 1550px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}

h2 {
	font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 16px);
	line-height: 110%;
	font-weight: 500;
}

.fs-16 {
	font-size: 16px;
	line-height: 22px;
}
.bold {
	font-weight: 700;
}
.medium {
	font-weight: 500;
}

.l-estimate {
	padding: 120px 0;
	& .l-estimate__upload {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 100px;
	}

	& .l-estimate__upload-info {
		max-width: 490px;
		width: 100%;
	}

	& .l-estimate__upload-btns {
		margin-top: 30px;
		display: flex;
		align-items: center;
		gap: 13px;

		& button {
			display: flex;
			flex-direction: column;
			gap: 5px;
			align-items: center;
			justify-content: end;
			height: 126px;
			width: 162px;
			background-color: unset;
			outline: none;
			border: 1px dashed #151515;
			border-radius: 10px;
			transition: all 0.4s ease;
			cursor: pointer;
			padding-bottom: 18px;
			& img {
				width: 52px;
				height: auto;
			}

			& span {
				font-size: 12px;
				height: 29px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

.l-estimate__upload-btns button:first-child {
	border-color: #5d5fef;
	& span {
		color: #5d5fef;
	}
}

.l-estimate__upload-btns button:hover {
	background-color: #5d5fef3f;
}

.l-estimate__modal::backdrop {
	background: rgba(0, 0, 0, 0.6);
}
.l-estimate__modal {
	margin: auto;
	background: unset;
	border: unset;
	width: 100vw;
}
.l-estimate__modal-content {
	max-width: 1580px;
	width: 100%;
	margin: 0 auto;
	border-radius: 20px;
	padding: 46px 32px;
	background-color: white;
}

.close-modal-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: unset;
	border: unset;
	cursor: pointer;
}
.i-close {
	position: relative;
	width: 24px;
	height: 24px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 100%;
		background-color: #5d5fef;
		top: 0;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}
