*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

body {
	font-family: 'Inter', Arial, sans-serif;
	min-width: 320px;
	overflow-x: hidden;
	font-size: 16px;
}

.container {
	max-width: 1550px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}

h2 {
	font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 16px);
	line-height: 110%;
	font-weight: 500;
}

.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
	line-height: 22px;
}
.bold {
	font-weight: 700;
}
.medium {
	font-weight: 500;
}
.light {
	font-weight: 300;
}

.l-estimate {
	padding: 120px 0;
	& .l-estimate__upload {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 100px;
	}

	& .l-estimate__upload-info {
		max-width: 490px;
		width: 100%;
	}

	& .l-estimate__upload-btns {
		display: flex;
		align-items: center;
		gap: 13px;

		& button {
			display: flex;
			flex-direction: column;
			gap: 5px;
			align-items: center;
			justify-content: end;
			height: 126px;
			width: 162px;
			background-color: unset;
			outline: none;
			border: 1px dashed #151515;
			border-radius: 10px;
			transition: all 0.4s ease;
			cursor: pointer;
			padding-bottom: 18px;
			& img {
				width: 52px;
				height: auto;
			}

			& span {
				font-size: 12px;
				height: 29px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

.l-estimate__upload-btns button:first-child {
	border-color: #5d5fef;
	& span {
		color: #5d5fef;
	}
}

.l-estimate__upload-btns button:hover {
	background-color: #5d5fef3f;
}

.l-estimate__modal::backdrop {
	background: rgba(0, 0, 0, 0.6);
}
.l-estimate__modal {
	margin: 0 auto;
	background: unset;
	border: unset;
	width: 100vw;
}
.l-estimate__modal-content {
	max-width: 1580px;
	width: 100%;
	margin: 120px auto 0 auto;
	border-radius: 20px;
	padding: 46px 32px;
	background-color: white;
}

.close-modal-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: unset;
	border: unset;
	cursor: pointer;
}
.i-close {
	position: relative;
	width: 24px;
	height: 24px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 100%;
		background-color: #5d5fef;
		top: 0;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.l-estimate__modal-section {
	display: grid;
	grid-template-columns: minmax(350px, 622px) minmax(340px, 1fr);
	align-items: center;
	gap: 18px;
	margin-top: 36px;
	& .l-block {
		background-color: #f5f7fa;
		padding: 30px;
		border-radius: 5px;
	}
}
.l-estimate__modal-section .l-block:last-child {
	height: 100%;
}

.i-icon {
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.i-20 {
	width: 20px;
	height: 20px;
}

.l-button-upload {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: #5d5fef;
	border-radius: 7px;
	padding: 10px;
	color: white;
	cursor: pointer;
	width: 100%;
	max-width: 175px;
	& span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100%;
	}
}

.l-number-table {
	margin-top: 40px;
}
.l-number-table__list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 14px;
}
.l-number-table__label {
	display: flex;
	flex-direction: column;
	gap: 7px;
	& span {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.5);
	}
}
.l-input {
	padding: 16px 20px;
	border-radius: 5px;
	border: 1px solid #eaeaea;
	width: 100%;
}
.l-estimate__modal-textarea {
	margin-top: 10px;
}
.l-estimate__modal-footer {
	margin-top: 17px;
	display: flex;
	align-items: center;
	gap: 12px;
	& button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 166px;
		padding: 12px 0;
		border-radius: 7px;
		cursor: pointer;
	}
}

.l-estimate__modal-footer button:first-child {
	background-color: #5d5fef;
	color: white;
}
.l-estimate__modal-footer button:last-child {
	background-color: #f5f7fa;
	color: #3a3a49;
}

.l-estimate-table__container {
	display: flex;
	align-items: flex-start;
	gap: 26px;
}
.l-estimate-table {
	border: 1px solid #e9eff4;
	border-radius: 10px;
	padding: 30px 34px;
	width: 100%;
	& .l-header {
		display: grid;
		align-items: center;
		gap: 20px;
		grid-template-columns: 130px 146px 460px 70px 70px;
		font-size: 14px;
		& button {
			background-color: unset;
			text-align: start;
			display: flex;
			align-items: center;
			gap: 5px;
			cursor: pointer;
			color: #878790;
		}
	}
}
.l-estimate-table__list {
	margin-top: 20px;
}
.l-estimate-table__item-head {
	border: 1px solid #e9eff4;
	border-radius: 5px;
	padding: 12px 16px;
	position: relative;
}
.l-estimate-table__item {
	margin-bottom: 15px;
}
.l-estimate-table__item:last-child {
	margin-bottom: 0;
}
.l-estimate-table__item::marker {
	color: #151515;
	font-size: 12px;
}

.l-estimate-table__item.active .l-estimate-table__item-head {
	background-color: #5d5fef;
	color: white;
}
.l-estimate-table__item-head::after {
	content: '';
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	width: 5px;
	height: 5px;
	background-color: #dadada;
	border-radius: 50%;
	box-shadow: 0 8px 0 0 #dadada, 0 -8px 0 0 #dadada;
}
.l-estimate-table__item-head {
	display: grid;
	align-items: center;
	gap: 20px;
	grid-template-columns: 130px 130px 460px 70px 70px;
	& .long {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 100%;
	}
}
.i-arrows {
	background: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.08711 4L4.91289 4C5.34007 4 5.57052 3.49894 5.29252 3.1746L3.37963 0.942899C3.18008 0.710094 2.81992 0.710094 2.62037 0.942899L0.707482 3.1746C0.429479 3.49894 0.659934 4 1.08711 4Z' fill='%235D5FEF'/%3E%3Cpath d='M4.91289 5H1.08711C0.659934 5 0.429479 5.50106 0.707482 5.8254L2.62037 8.0571C2.81992 8.28991 3.18008 8.28991 3.37963 8.0571L5.29252 5.8254C5.57052 5.50106 5.34007 5 4.91289 5Z' fill='%23A5A6F6'/%3E%3C/svg%3E%0A")
		no-repeat center;
	display: flex;
	width: 6px;
	height: 8px;
}

.l-estimate-table__checkbox {
	display: flex;
	align-items: center;
	gap: 5px;

	& span {
		font-size: 15px;
		color: #878790;
	}
}
.l-estimate-table__checkbox-input {
	border: 1px solid #aeaff7;
	background-color: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 5px;
}
.l-estimate-table__checkbox-input:checked {
	background-color: #aeaff7;
}

.l-estimate-table__item-status {
	padding: 8px 16px;
	border-radius: 5px;
	background-color: #ff00000e;
	color: #dd1919;
	font-size: 12px;
	text-decoration: unset;
	text-align: center;
}
.l-estimate-table__item-status.active {
	background-color: #5d5fef;
	color: white;
}

.l-counter {
	border-radius: 5px;
	border: 1px solid #e4e5ff;
	padding: 10px 8px;
}
